@charset "utf-8";
/* 메인 con1 영역*/
.con1>h2{display: none;}
.swiper-pagination-bullet {
  background: #ccc;
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background: #333 !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #e8e8e8 !important;
  width: 40px !important;

}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px !important; 
}
.slide>img{
  width: 100%;
  height: 520px;
  object-fit: cover;
}

/* 메인 con2 영역*/
.con2{background-color: rgb(255, 241, 213); position: relative;}
.con2 h2{text-align: center; padding: 50px 0px 0px 0px;}
.con2>h2>img{width: 50px;}
.con2-title{
  color: #646464;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0px;
}
.go-btn{
  width: 145px;
  height: 30px;
  line-height: 25px;
  margin: 0 auto;
  border: 1px solid #646464;
  cursor: pointer;
  margin-bottom: 20px;
}
.go-btn:hover{
  background-color: #646464;
  color: #fff;
  transition: 0.5s;
}
.go-btn>p{
  font-size: 0.9rem;
  text-align: center;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.item-slide {
  width: 200px;
  height: 200px;
  float: left;
  padding: 0px 10px 10px 40px;
}
.item-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item>li{
  line-height: 40px;
  text-align: left;
  text-indent: 40px;
  font-size: 12px;
}
.item>li:nth-child(2){
  font-weight: bold;
  font-size: 12px;
}
.item>li:nth-child(3){
  line-height: 10px;
}
.item>li:last-child{
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(225, 0, 0);
}

.item-btn{
  display: flex;
  position: absolute;
  top: 380px;
  right: 88px;
}

.item-btn>button{
  background-color: rgb(245, 56, 56);
  color: #fff;
  height: 25px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.con3>h2{text-align: center; padding: 50px 0px 0px 0px;}
.con3>h2>img{width: 50px; }
.text-box{
  text-align: center;
  line-height: 20px;
  margin-bottom: 25px;
}
p>img{
  width: 70%;
  display: block;
  margin: 0 auto;
}

.con4{
  background-color: rgb(228, 218, 218);
  position: relative;
  top: -61px;
  padding-top: 50px;
}
.con4>h2{
  color: #646464;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0px;
}
.con4>h2>img{
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}
.con4 p{
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #646464;
}
.instar{
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.instar>li:nth-child(2):hover{
  opacity: 50%;
}
.instar img{width:250px;}

/* 로그인 서식 */

.form{
  width: 450px;
  margin: 0 auto;
}

.title{text-align: left; font-size: 16px; font-weight: bold; margin:20px 0px;}
.title input{padding: 10px; width: 100%; margin: 10px 0px;}

section h2{text-align: center; margin:20px 0px; font-size: 24px; font-weight: bold;}

.btn-box p{ text-align: center;}
.login-btn,.join-btn{
  border: none; 
  background-color: rgb(193, 51, 51); 
  color: #fff;
  font-size: 16px;
  padding: 8px 30px;
  text-align: center;
  margin: 20px 0px;
}
.btn-group{margin-bottom: 20px;}
.btn-group a{margin: 0px 10px; font-size: 16px;}

/* 회원가입 서식 */
